@font-face {
  font-family: "iconfont"; /* Project id 4976554 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4976554_q4u40rcf41.woff2?t=1752650357806') format('woff2'),
       url('//at.alicdn.com/t/c/font_4976554_q4u40rcf41.woff?t=1752650357806') format('woff'),
       url('//at.alicdn.com/t/c/font_4976554_q4u40rcf41.ttf?t=1752650357806') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e876";
}

.icon-dianpu:before {
  content: "\e72e";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-youjian:before {
  content: "\e611";
}